<?xml version="1.0"?>
<config>
	<DvbsSatellite>
		<_name>Freesat</_name>
		<_positionEast>282</_positionEast>
	</DvbsSatellite>
	<DvbsRegion>
		<_isoCode>GB</_isoCode>
	</DvbsRegion>
	<DvbsHeadend>
		<_csiId>250282</_csiId>
		<_languageIso639>en</_languageIso639>
	</DvbsHeadend>
	<Scanner>
		<csv_name>DVBViewer</csv_name>
		<Columns>
			<_serviceId>
				<index>18</index>
			</_serviceId>
			<_positionEast>
				<index>29</index>
			</_positionEast>
			<_carrierFrequency>
				<index>8</index>
			</_carrierFrequency>
			<_polarization>
				<index>9</index>
				<vertical_string>v</vertical_string>
			</_polarization>
			<_symbolRate>
				<index>10</index>
			</_symbolRate>
			<_originalNetworkId>
				<index>21</index>
			</_originalNetworkId>
			<_transportStreamId>
				<index>19</index>
			</_transportStreamId>
			<_name>
				<index>3</index>
			</_name>
		</Columns>
	</Scanner>
</config>
